header {
	background: #BBBBBB;
	padding: 20px 0;
}

.box {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #C78C19;
}

.produtos li:active {
	border-color: #088C19;	
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

main {
	width: 940px;
	margin: 0 auto;
}

form {
	margin: 40px 0;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao input, textarea{
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.option{
    padding: 10px 15% ;
    font-size: 20px;
    background: rgb(35, 175, 7);
    transition: 1s all;
    cursor: pointer;
    color:#BBBBBB;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    font-style: italic;
}

.option:hover{
    transform: scale(1.05);
    transform: all 1.1s;
    background: rgb(12, 70, 50);
}

.checkbox {
	margin: 20px 0;
    border: none;
    border-radius: 5px;
    
}

.enviar{
    padding: 10px 35% ;
    border: none;
    background: rgb(35, 175, 7);
    transition: 1.5s all;
    cursor: pointer;
    color:#BBBBBB;
    border-radius: 10px;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 40px ;
}

.enviar:hover{
    transform: scale(1.4);
    transform: all 1.1s;
    background: rgb(12, 70, 50);
}

table{
    margin: 20px auto;
    transition: 1s all;
}

table:hover{
    transform: scale(1.05);
}

thead{
    background: #088C19;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

td{
    border-radius: 5px;
    border: 1px solid #24ba38;
    padding: 10px 20px;
}

footer {
    text-align: center;
    background: url("imagens/bg.jpg");
    padding: 40px 0;
}


.base-board p {
    color: #FFFFFF;
    font-style: italic;
    font-size: 10px;
}